<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova Noticia</title>
</head>
<body>
    <h1>Adicionar Notícia</h1>
    <br/>

    <form action='noticias/salvar' method="POST">  
        <label>Título</label>
        <input type="text" name="titulo" id="titulo" placeholder="Titulo da Notícia">
        <br/>
        <label>Notícia</label>
        <textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
        <br/>
        <input type="submit" value="Enviar"/>

    </form>
</body>
</html>