<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notícias</title>

</head>

<body>
    <h1>Notícias</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Notícia</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><%= noticia[0].id_noticia %></td>
                <td><%= noticia[0].titulo %></td>
                <td><%= noticia[0].noticia %></td>
            </tr>

        </tbody>
    </table>

</body>

</html>